body{
	background-color: #aaa;
	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 100px;
	font-family: "Verdana", Times, sans;
}

.content{
	min-height: calc(100vh - 50px);
}

img{
	width: 70%;
}

div{
	width: 100%;
	display: inline-block;
}

.header-wrapper{
	top: 0;
	position: fixed;
	z-index: 1000;
}

.sticky-footer{
	height: 40px;
}

.header{
	position: relative;
	display: block;
	text-align: center;
	overflow: auto;
	height: 8vh;
	padding-top: 10px;
	background-color: #777;
}

.header a{
	height: auto;
}

.logo{
	float: left;
	margin: 0px;
	width: 10vw;
}

.header h1{
	float: right;
	font-size: 3vh;
	margin: auto;
}

.nav {
	text-align: center;
	background-color: #777;
	padding: 5px 0;
}

.nav form{
	width: auto;
	display: inline-block;
}

.nav button{
	padding-right: 0px;
	padding-left: 0;
	margin: 0;
	display: inline;
	background-color: #888;
	border: none;
}

.kingdomHearts, .roxas, .existentialism{
	width: 97%;
	margin: 0px 5px;
}

.kingdomHearts img{
	float: left;
	width: 45%;
}

.roxas img{
	float: left;
	width: 45%;
}

.existentialism img{
	float: right;
	width: 40%;
}

.imgContainer{
	position: relative;
	text-align: left;
}

.overlayText{
	position: absolute;
	left: 3%;
	top: 10%;
	font-size: 10px;
}
