body{
	text-align: center;
	width: 100%;
	margin: auto;
	font-family: "Verdana", Times, sans;
}

img{
	width: 70%;
}

div{
	width: 100%;
}

.header{
	position: relative;
	display: block;
	text-align: center;
	overflow: auto;
	height: 8vh;
	padding-top: 10px;
	background-color: #777;
}

.header a{
	height: auto;
}

.logo{
	float: left;
	margin: 0px;
	width: 10vw;
}

.header h1{
	float: right;
	font-size: 3vh;
	margin: auto;
}

.nav {
	text-align: center;
}

.imgContainer{
	position: relative;
	text-align: left;
}

.overlayText{
	position: absolute;
	left: 3%;
	top: 10%;
	font-size: 10px;
}
