h1, h2{
  padding: 2% 0;
}
.portrait{
  width: 100%;
}

.content{
  margin-top: 5vh;
  text-align: center;
}

.caption{
  width: 30%;
}

.beginning{
  width: 30%;
  text-align: center;
}

.main-content{
    width: 85%;
}

.main-content p{
  text-align: left;
}
